body {
    width: 100%;
    font-family: Helvetica, Arial, sans-serif
}

div.centered {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.logo {
    margin-left: 12px;
    margin-right: 12px;
}

input.textbox {
    font-family:Helvetica, Arial, sans-serif;
    font-size:16px;
}
.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background-color:#63b8ee;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    color:#14396a;
    font-family:Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #7cacde;
}.button:hover {
    background-color:#468ccf;
}.button:active {
    position:relative;
    top:1px;
}

.bigtext {
    font-size: 24px;
    font-weight: bold;
}
