@handler AwesomeThing.Index

<!DOCTYPE html>

<html>
    <head>
        <title>Sign up</title>
        <link href="/css/site.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="centered">
            <h1>Sign up for a Beta Invitation!</h1>
            <img src="/images/awesomething.png" />
            <form action="/signup" method="POST">
                <fieldset>
                    <legend>Sign up here</legend>
                    <input type="email" name="Email" id="Email" class="textbox"/>
                    <input type="submit" value="Sign Up" class="button"/>
                </fieldset>
            </form>
        </div>
    </body>
</html>