@handler AwesomeThing.PostSignup

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <p>Thanks for signing up!</p>
            <p>You are number @Handler.Number</p>
        </div>
    </body>
</html>